<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">People have forgotten how to tell a story.</h2>
                <hr class="light">
                <p class="text-faded">Stories don’t have a middle or an end any more. They usually have a beginning that never stops beginning.
                    –Steven Spielberg</p>
                <a href="#" class="btn btn-default btn-xl">Find out more.</a>
            </div>
        </div>
    </div>
</section>
